html {
	font-family: 'Raleway', sans-serif;
}

nav {
	background-color: #404040;
}

#logo {
	width: 155px;
	height: 30px;
	margin-top: 17px;
}

#landing_page {
	width: 100%;
	height: auto;
}

#landing_body {
	height: 500px;
	color: #FFFFFF;
	background-color: #25A4E0;
}

#landing_title {
	padding-left: 50px;
	padding-top: 50px;
	float: none;
	color: #FFFFFF;
	font-size: 36pt;
	font-weight: 100;
	text-align: center;
}

#landing_subtitle {
	color: #FFFFFF;
	font-size: 12pt;
	text-align: center;
}

.parallax-container {
	overflow: inherit;
}

.card-content {
	color: #000000;
}

.card .card-action a {
	color: #f66a5f;
}

footer.page-footer {
	background-color: #404040
}

.link {
	color: #25A4E0;
}

.sm_link {
	height: 30px;
	width: 30px;
}

.sm_link_wrapper {
	padding-right: 10px;
	display: inline;
}