/* Whole Page */
body {
  background: #16a085;
  font-family: 'Montserrat', sans-serif;
}


canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;#4C4C4C 
  background-color: green;
}
#hi {
  background: black;
}
/* ---- stats.js ---- */

.count-particles{
  background: transparent;
  position: absolute;
  left: 0;
  width: 100%;
  height:100%;
  font-size: .8em;
  text-align: left;
  
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#about {
    padding-top: 0px;
}

.jumbotron {
    background-color: #fff;
}

/* Progress Section */
#progress {
    background: transparent;
}

#progress h2, #progress p {
    color: white;
}

/* Community Section */

/* Contribution Section */
