/* Whole Page */
body {
  padding-top: 70px;
}

section {
    padding: 60px;
}

/* Navbar */

/* About Section */
#about {
    padding-top: 0px;
}

.jumbotron {
    background-color: #fff;
}

/* Progress Section */
#progress {
    background: #4C4C4C;
}

#progress h2, #progress p {
    color: white;
}

/* Community Section */

/* Contribution Section */
